<h1 class="mat-headline-2">Einkaufswagen</h1>
<div class="row">
  <div class="column-1">
    <mat-card *ngFor="let product of cart.products">
      <mat-card-header>
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-title
          >{{ product.price - product.discount | currency : "EUR" }}
          <span style="text-decoration: line-through" *ngIf="product.discount !== 0">{{
            product.price | currency : "EUR"
          }}</span></mat-card-title
        >
      </mat-card-header>
      <mat-card-actions align="end">
        <div class="product-info">
          <mat-form-field appearance="fill">
            <mat-label>Menge</mat-label>
            <mat-select
              [value]="product.quantity"
              (selectionChange)="update($event, product.productId)"
            >
              <mat-option *ngFor="let num of quantityOptions" [value]="num">
                {{ num }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="button-delete">
          <button mat-raised-button (click)="deleteProduct(product.productId)">Löschen</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="column-2">
    <p class="mat-headline-6">Summe {{ count }} Artikel: {{ sum | currency : "EUR" }}</p>
    <button mat-raised-button color="accent" routerLink="/order" [disabled]="sum === 0">
      Zur Kasse gehen
    </button>
  </div>
</div>
