<mat-grid-list cols="{{ columns }}" rowHeight="1:0.95">
  <mat-grid-tile *ngFor="let product of products">
    <mat-card class="card mat-elevation-z5" [routerLink]="'products/' + product.id">
      <mat-card-header>
        <mat-card-title class="mat-headline-5">{{ product.name }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image class="product-image" [src]="product.downloadLink" alt="Product Image" />
      <mat-card-actions align="end">
        <h2 class="mat-headline-6">{{ product.price | currency : "EUR" }}</h2>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
