.card{
  width: 350px;
  height: auto;
  cursor: pointer;
}

.product-image{
  max-width: 350px;
  max-height: 250px;
  min-height: 250px;
  object-fit: cover;
}

.mat-headline-5{
  margin: 16px;
}

.mat-headline-6{
  margin: 0px 16px 16px 16px;
}
