.product-info{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
}

h1{
  font-size: 24px;
  font-weight: 400;
}
/*
.custom-tile{
  height: 100%;
  width: 100%;
} */

.custom-image{
  object-fit: cover;
    max-width: 100%;
  height: auto;
}

.container{
  margin: 5%;
}
.mat-headline-2{
  margin-bottom: 10px ;
}

.input-quantity{
  margin-bottom: 15px;
}
