<mat-grid-list cols="3" rowHeight="1:2" gutterSize="20px">
  <mat-grid-tile>
    <div class="custom-tile">
      <img [src]="product.downloadLink" />
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="product-info">
      <h1 class="mat-headline-2">{{ product.name }}</h1>
      <h2 class="mat-headline-4">{{ product.price }}€</h2>
      <p>{{ product.description }}</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field appearance="fill">
      <mat-label>Menge</mat-label>
      <mat-select [(value)]="quantity">
        <mat-option *ngFor="let num of quantityOptions" [value]="num">
          {{ num }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      (click)="addToCart()"
      [disabled]="quantity === 0"
    >
      In den Einkaufswagen
    </button>
  </mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>
