<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="home" routerLink="/">
        <span class="spacer">CaaS-Webshop 1</span>
      </div>
      <mat-form-field class="search">
        <mat-label>Produktsuche</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-icon class="icon" routerLink="/login">login</mat-icon>
      <mat-icon class="icon" routerLink="cart">shopping_cart</mat-icon>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
