<div class="container">
  <h1 mat-dialog-title>{{ data.id ? "Produkt bearbeiten" : "Produkt hinzufügen" }}!</h1>
  <form mat-dialog-content [formGroup]="productForm" novalidate (ngSubmit)="performAction()">
    <div *ngIf="data.id" class="row">
      <div class="col">
        <mat-form-field class="full-width" subscriptSizing="dynamic">
          <mat-label>Id</mat-label>
          <input matInput placeholder="Id" formControlName="id" readonly="true" />
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field class="full-width" subscriptSizing="dynamic">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name" />
          <mat-error *ngIf="productForm.controls['name'].hasError('required')">
            Name ist <strong>erforderlich</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width" subscriptSizing="dynamic">
          <mat-label>Beschreibung</mat-label>
          <textarea matInput placeholder="Beschreibung" formControlName="description"></textarea>
          <mat-error *ngIf="productForm.controls['description'].hasError('required')">
            Beschreibung ist <strong>erforderlich</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width" subscriptSizing="dynamic">
          <mat-label>Download-Link</mat-label>
          <input matInput placeholder="Download-Link" formControlName="downloadLink" />
          <mat-error *ngIf="productForm.controls['downloadLink'].hasError('required')">
            Download-Link ist <strong>erforderlich</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width" subscriptSizing="dynamic">
          <mat-label>Preis</mat-label>
          <input matInput type="number" placeholder="Preis" formControlName="price" />
          <mat-error *ngIf="productForm.controls['price'].hasError('required')">
            Preis ist <strong>erforderlich</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-checkbox formControlName="active">Aktiv</mat-checkbox>
      </div>
    </div>
  </form>
  <div mat-dialog-actions align="end">
    <button
      mat-raised-button
      color="primary"
      [mat-dialog-close]="true"
      (click)="performAction()"
      cdkFocusInitial
      [disabled]="!productForm.valid"
    >
      Ok
    </button>
    <button mat-button [mat-dialog-close]="false">Schließen</button>
  </div>
</div>
